__pycache__/
data/cleaned_correct_corpus/makhzan*
checkpoints/

# WikiEdits
urwikienv/
urwiki-20250701-pages-meta-history.xml.7z
wikiedits_urdu/

models/
.venv/

# Ignore LaTeX build outputs
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.pdf
*.lof
*.lot
*.fls
*.fdb_latexmk